.container-fluid{
    border: black 1px solid;
}
.row{
    border: blue 2px solid;
}
.col,.col-1,.col-2,col-3,.col-4,.col-5,.col-6,.col-7,col-8,.col-9,.col-10,.col-11,.col-12{
    border: springgreen 3px solid;
}
.body{
    background-color: rgb(14, 122, 230);
}
#header{
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}
#menu{
    background-color:lightgoldenrodyellow ;
    text-align: center;
    padding: 10px;
}
#content{
    background-color: white;

}
#footer{
    background-color: mediumpurple;
    text-align: center;
    padding: 20px;

}