input {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 3px solid red;
    box-sizing: border-box;
    display: inline-block;
}
input [type="submit"] {
    width: 100%;
    background-color: rgb(177, 96, 244);
    color: black;
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}
input :focus{
    background-color: rgb(0, 255, 136);
}
select{
    width: 200px;
    margin: 30px;
}
textarea{
    width: 400px;
    height: 200px;
    font-size: 15px;
    
}
form{
    margin: 20px;
    font-size: 20PX;
    width: 600px;
    height: 600px;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: cornsilk;
    color: white;
    padding: 20px;
    
}
body{
    background-image:url(sreenu.jpg) ;
}
h1{
    width: 100px;
    padding: 0px;
    margin: 10px;
    color: white;
    border-radius: 20px ;
    border: 1px solid rgb(207, 8, 8);
    
}