.content{
    background-image: url(rrr.jpeg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}
h1{ 
    background-color: lightblue;
    border-radius: 50%;
    width: 40%;
    text-align:center ; 
}